---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes";

html {
  @include breakpoint($x-large) {
    font-size: 20px;
  }
}

.social-icons {
  .fa-code {
    color: #0292ca;
  }

  .fa-steam, .fa-microphone {
    color: #000000;
  }

  .fa-desktop {
    color: #ea0189;
  }
}